
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 4fr;
    gap: 1.5rem;
  }

  .header__container {
    display: none;
  }

  .resume {
    margin: 20px 0;
  }

  .name, .job-role {
    margin: 0;
    padding: .1rem;
    font-size: 1.1rem;
  }

  .navigation li a {
    font-size: .8rem;
    padding: .9rem;
  }

  .side-bar {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-top: 3rem;
  }
  .side-bar-container {
    top: 3rem;
    position: sticky;
  }
  .side-bar-container .nav,
  .resume {
    display: block;
  }
  .side-bar-container .nav {
    position: relative;
    top: 0;
    height: auto;
  }

  .section__presentation,
  .about,
  .portfolio,
  .contact {
    height: 100vh;
    max-height: inherit;
  }
}

@media (min-width: 1024px) {
}
