:root {
  --bg-color: #f9f9f9;
  --highlight-color: #00ff95;
  --main-color-light: #fff;
  --title-color: #9f9f9f;
  --text-color: #282828;
  --size-default: 16px;
  --main-font: 'Quicksand', sans-serif;
  --secondary-font: 'Lora', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: var(--size-default);
}

img {
  max-width: 100%;
}

.main {
  padding: 0 .5rem;
}

.header__container {
  background-color: var(--highlight-color);
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all ease-in .5s;
}
.menu__active .icon__menu,
.icon__close_menu {
  display: none;
}

.menu__active .icon__close_menu {
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  align-items: center;
}

.icon__menu {
  transition: all ease-in .5s;
}

.icon__contact {
  color: var(--text-color);
}

.presentation {
  text-align: center;
  position: relative;
}

.presentation h1 {
  font-size: 0.95rem;
}

.presentation h2 {
  font-size: 0.8rem;
}

.presentation h1,
.presentation h2 {
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.header__container--scrolled .thumb {
  display: none;
}

.thumb {
  width: 6rem;
  height: 6rem;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--highlight-color);
  position: relative;
  margin: 0 auto;
}

.side-bar {
  text-align: center;
}

.resume {
  display: none;
}

.side-bar-container {
  padding: 1.5rem;
}

.side-bar-container .nav {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 3.5rem);
  top: 3.5rem;
  display: none;
  left: 0;
}

.menu__active .side-bar-container .nav {
  display: block;
}

.menu__active .thumb {
  z-index: 9;
  position: fixed;
  left: 25%;
  right: 25%;
}

.navigation {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 1rem;
  display: block;
  transition: 0.3s;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.navigation li span {
  display: block;
  padding: 1rem;
}

.navigation li a:hover {
  color: var(--highlight-color);
  font-weight: 400;
}

.navigation li a:active {
  transform: scale(.9);
}

.presentation-job-role {
  font-size: 1.7rem;
  line-height: 2.5rem;
  position: relative;
  padding: 0;
  max-width: 320px;
  margin: 0 auto;
  min-width: 250px;
  padding-top: 2rem;
}

.presentation-job-role b {
  background-color: var(--highlight-color);
  padding: 0 .3rem;
  color: var(--text-color);
}

.section__presentation {
  padding: 0 1rem;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - (1.5rem + 6rem + 4.8rem));
  min-height: 400px;
  max-height: 550px;
  flex-flow: column;
}

.section__presentation .bg1 {
  width: 100%;
  position: relative;
  vertical-align: bottom;
  max-width: 320px;
  min-width: 280px;
}

.section-title {
  font-size: 37px;
  color: var(--title-color);
  position: relative;
  display: inline-block;
}

.section-title:after {
  content: "";
  display: block;
  position: absolute;
  height: .3rem;
  width: 60%;
  background-color: var(--highlight-color);
  bottom: -0.3rem;
  left: 50%;
}

.section-text {
  font-size: 1rem;
  line-height: 1.4;
  max-width: 880px;
  width: 100%;
}

.container-skills {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10%;
}

.container-skills-box {
  background-color: var(--main-color-light);
  width: 10rem;
  height: 10rem;
  border-bottom: 3px solid #41fc95;
  margin: .5rem;
  padding: .5rem;
  box-shadow: 0px 0px 56px -8px rgb(0 0 0 / 17%);
  display: flex;
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.container-skills-box svg {
  stroke: #41fb94;
  position: relative;
  top: 15px;
  left: 0;
  width: 30px;
  height: 30px;
}

.container-skills-box h5 {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.container__portfolio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.history {
  width: 10rem;
  height: 10rem;
  transition: all ease .3s;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #41fc95;
  background-color: #f9f9f9;
  margin: .5rem;
}

.history img {
  display: block;
  max-width: none;
  height: 100%;
  position: relative;
  margin: auto;
}

.history:hover img {
  transition: all cubic-bezier(0, 0, 0.2, 1) .3s;
  transform: scale(1.5);
}

.history:hover {
  border: 4px solid #d7fc41;
  transform: scale(.95);
}

.history:active {
  border: 4px solid #41fcc0;
  transform: scale(.85);
}

.fieldset {
  margin-bottom: 2rem;
}

.fieldset label {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
}

.fieldset input,
.fieldset textarea,
.fieldset select {
  height: 50px;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  border: 4px solid #f9f9f9;
  padding-left: 1rem;

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.fieldset input:hover,
.fieldset textarea:hover,
.fieldset select:hover,
.fieldset input:focus,
.fieldset textarea:focus,
.fieldset select:focus {
  outline: 2px solid #41fc96;
}

.container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.form_img {
  width: 80%;
  text-align: right;
  display: none;
}

.form_img img {
  max-width: 90%;
}

.form {
  width: 80%;
}

.btn {
  height: 50px;
  width: 100%;
  background-color: #41fb95;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 768px) {
  .section__presentation .bg1 {
    max-width: 610px;
  }

  .section__presentation {
    flex-flow: initial;
    height: auto;
    padding: 3em 0;
  }

  .presentation-job-role {
    padding-top: 0;
    font-size: 2.8rem;
    text-align: left;
    max-width: 480px;
    line-height: 4rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .form_img {
    display: block;
  }
}
